{% extends "base.html" %}
{% load bootstrap4 %}
{% block container %}

<style>
    img {
    width: 200px;
    height: 500px;
    text-align: center;
    }
    tbody {
    opacity: 0.7;
    background-color: #FFFFF0;
    }
    table {
    text-align: center;
    }
</style>

<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">제목</th>
        <th scope="col">원본 음악 총시간</th>

    </tr>
    </thead>
    <tbody>
        <td>{{ filename }}</td>
        <td>{{ time_original }}{{'초'}}</td>
    </tbody>

</table>

<div id="waveform_original">
<audio id="myAudio_original"><source id="audiofile_original" src={{soundfile_original}}></audio>
    <h1>원본 음악 플레이어</h1>
    <div class="controls_original">
      <button class="btn btn-primary" data-action="back">Backward</button>
      <button class="btn btn-primary" data-action="play">Play / Pause</button>
      <button class="btn btn-primary" data-action="forward">Forward</button>
      <button class="btn btn-primary" data-action="mute">Toggle Mute</button>
    </div>
<script src = "/static/js/music_original.js"></script>
</div>

<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col">제목</th>
        <th scope="col">비트 분석 총시간</th>
        <th scope="col">BPM</th>
        <th scope="col">다운로드</th>

    </tr>
    </thead>
    <tbody>
        <td>{{ filename }}</td>
        <td>{{ time }}{{'초'}}</td>
        <td>{{ tempo }}{{'bpm'}}</td>
        <td>
            <button class="btn btn-primary"><a href={{beat_times}} download>Download File</a></button>
        </td>

    </tbody>

</table>



<div id="waveform">
<audio id="myAudio"><source id="audiofile" src={{soundfile}}></audio>

    <h1>원본+비트 음악 플레이어</h1>
    <div class="controls">
      <button class="btn btn-primary" data-action="back">Backward</button>
      <button class="btn btn-primary" data-action="play">Play / Pause</button>
      <button class="btn btn-primary" data-action="forward">Forward</button>
      <button class="btn btn-primary" data-action="mute">Toggle Mute</button>
    </div>
<script src = "/static/js/music.js"></script>
</div>


{% endblock %}
